@import 'buttons';

$button-gray: #ddd;
$button-green: #80cbc4;
$header-bar-blue: #00bbd3;
$title-white: #fff;
$regular-text: rgba(255, 255, 255, 0.6);
$placeholder-text: rgba(255, 255, 255, 0.4);
$green-text: #92cbc5;
$button-text-gray: #1c1c1c;
$app-background: #282828;

$base-font-size: 16px;
$base-line-height: 24px;

$project-font: Roboto, sans-serif;

$gutter: 1rem;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 100;

  // overflow: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: $regular-text;
}

.mat {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  background: black;
  // background: url('http://cdn.shopify.com/s/files/1/0269/7611/products/248_54434c9ede99e_3_1413696670_rustic-table-4.jpeg?v=1444237519') no-repeat center center fixed;
  //     -webkit-background-size: cover;
  //     -moz-background-size: cover;
  //     -o-background-size: cover;
  //     background-size: cover;
}

.screen {
  margin: auto;
  width: 25rem;
  height:40rem;
  border: 0.8rem solid white;
  border-radius: 1rem;
}

.app {
  width: 100%;
  height: 100%;
  font-family: $project-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.app-nav {
  background: $header-bar-blue;
  color: $title-white;
  display: flex;
}

.app-title {
  font-size: $base-font-size;
  line-height: $base-line-height;
  padding: 0;
  margin: 0;
  font-weight: 100;
}

.container {
  padding: $gutter;
  max-width: 25rem;
  width: 100%;
  height: 100%;
  margin: auto;
  flex-grow: 1;
}

.app-main {
  width: 100%;
  height: 100%;
  background: $app-background;
  display: flex;
  flex-direction: column;
  color: $regular-text;
  flex-grow: 1;
  overflow: auto;
}

.page-title {
  color: $title-white;
}

.new-run__form {
  display: flex;
  flex-direction: column;
}

.input-field {
  background: transparent;
  color: $regular-text;
  border: none;
  border-bottom: 1px solid $placeholder-text;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin-bottom: $gutter;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.top-wrapper {
  // overflow: auto;
}

.runs-list {
  color: $regular-text;
  // flex-direction: column;
  // justify-content: space-between;
  // overflow: auto;
}

.runs-list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid $regular-text;
  // line-height: 10px;
}

.my-run {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 10px;
}

.run-time {
  color: $green-text;
}
