<div class="mat">
  <div class="screen">
    <div class="app">
      <nav class="app-nav">
        <div class="container">
          {{#link-to 'application'}}
          <p class="app-title"><i class="fa fa-clock-o"></i> Log Your Run</p>
          {{/link-to}}
        </div>
      </nav>

      <div class="app-main">
        <div class="container">

          {{outlet}}

        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer__container">
      <p class="footer__content">Built by Hannah Swift with SASS + Ember.js. View Source code <a href="https://github.com/hannahgswift/19-run-timer">here</a>.</p>
    </div>
  </div>
</div>
