<div class="runs-page">
  <div class="list-wrapper">
    {{#each model as |value|}}
        <ul class="runs-list">
          {{#link-to "run-detail"}}
            <li class="runs-list__item">
              <p>{{value.date}}</p>
              <p>{{value.time}}</p>
            </li>
          {{/link-to}}
        </ul>
    {{/each}}
  </div>
  <div class="button-container">
    <button>
      {{#link-to "new"}}<i class="fa fa-plus" aria-hidden="true"></i>{{/link-to}}
    </button>
  </div>

</div>

{{outlet}}
