<table class="runs-list">
  <thead>
    <tr></tr>
  </thead>
  <tbody>
    <tr>
      <td>July 22, 2016</td>
      <td>00:30:45</td>
    </tr>
    <tr>
      <td>July 22, 2016</td>
      <td>00:30:45</td>
    </tr>
    <tr>
      <td>July 22, 2016</td>
      <td>00:30:45</td>
    </tr>
    <tr>
      <td>July 22, 2016</td>
      <td>00:30:45</td>
    </tr>
  </tbody>
</table>

{{#link-to "new"}}<i class="fa fa-plus-circle" aria-hidden="true"></i>{{/link-to}}

{{outlet}}
