<div class="new-run__page">
  <h1 class="page-title">New Run</h1>
  <div class="input-wrapper">
    <input class="input-field" type="data" placeholder="Run Time">
    <input class="input-field" type="data" placeholder="Race Date">
    <input class="input-field" type="text" placeholder="Race Notes">
    <div class="button-wrapper">
      <button class="cancel-btn">Cancel</button>
      <button class="save-btn">Save</button>
    </div>
  </div>
</div>

{{outlet}}
