{{outlet}}
<div class="page">
  <div class="top-wrapper">
    <h1 class="page-title">My Run</h1>
    <li class="my-run">
      <p>{{model.date}}</p>
      <p class="run-time">{{model.time}}</p>
    </li>

    <p class="full-detail">{{model.notes}}</p>
  </div>



  <div class="button-container__b">
    <button class="fa-stack fa-lg">
      {{#link-to "index"}}
        <i class="fa fa-circle gray-circle fa-stack-1x"></i>
        <i class="fa fa-angle-left fa-stack-1x" aria-hidden="true"></i>
      {{/link-to}}
    </button>
    <button class="fa-stack fa-lg">
      {{#link-to "edit" model._id}}
        <i class="fa fa-circle green-circle fa-stack-1x"></i>
        <i class="fa fa-pencil fa-stack-1x" aria-hidden="true"></i>
      {{/link-to}}
    </button>
  </div>

</div>
